.CreateTicketBox {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 500px;
    height: 550px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    background: url('../graphics/panel.gif');
    border: none;
    display: none;
}

.cTableA td {
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
}

.cTableA input {
    width: 322px;
}

.cTableA #cTextarea {
    width: 322px;
    height: 200px;
}